<!-- CSS -->
<!-- /*-- #EDA300 - #05B9E4- #DB008D - #B00573 --*/ -->

/* BODY */
  body {
  margin: 0px;
}
/* HEADER */
header img {
  width: 333px;
  margin: 15px 0px 15px 18%;
}
header figure {
  margin: 0;
}
/* NAV */
nav {
  background-color: #db008d;
  text-align: left;
  margin: 0px 0px;
  padding: 18px 0px 18px 0px;
  padding-left: 18%;
}
nav a {
  color: white;
  text-decoration: none;
  padding-right: 18px;
}
nav a:hover {
  background-color: #b00573;
  color: gray;
}
/* MAIN */

#principal {
  overflow: auto;
  display: flex;
  padding-bottom: 60px;
  margin-bottom: 60px;
  /* outline: blue solid; */
}

#boxblank {
  float: left;
  width: 18%;
  height: 100%;
  background-color: none;
}
.seccion {
  overflow: auto;
  width: 64%;
  /* outline: blue dotted; */
}

.boxpost {
  /* outline: red dotted; */
}

/* Titulo --------- */
.Tituloarticulo {
  padding-top: 18px;
  margin-bottom: 3px;
  clear: both;
}

.Tituloarticulo {
  color: #05b9e4;
}

/* Imagen --------- */
article img {
  width: 270px;
  padding: 0px 18px 1px 0px;
  margin: 0px 0px 0px 0px;
}

/* Parrafo --------- */
main section p {
  margin-top: 0%;
  text-align: justify;
  margin-right: 30px;
}

/* Button --------- */
article button {
  background-color: #05b9e4;
  border-color: #05b9e4;
  padding: 3px 27px;
  margin: 0px 0px 0px 0px;
}

article button a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* ASIDE --------- */
#boxaside {
  float: none;
  margin: 19.92px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 19%;
  /* outline: gray dotted; */
}
aside a {
  color: #05b9e4;
  text-decoration: none;
  padding: 0px 0px 0px 0px;
}
aside ul {
  padding: 0px 0px 0px 0px;
  list-style: none;
}
aside li {
  padding: 0px 0px 15px 0px;
}

/* FOOTER */
footer {
  overflow: auto;
  color: white;
}
#boxfooter {
  background: #db008d;
  height: 200px;
}
#footerabout {
  float: left;
  width: 50%;
}
#aboutus {
  width: 75%;
  padding-left: 3%;
}
footer p {
  margin-top: 30px;
  padding-left: 0px;
}
#footernav {
  float: right;
  width: 50%;
}
footer a {
  color: white;
}
#legalfooter {
  background: #b00573;
  color: white;
  text-align: center;
  font-size: 12px;
  clear: both;
  padding: 9px;
}
/* FIN CSS */
