/* Paleta de colores - - - */
/* #B00573 */
/* #c72d82 */
/* #DB008D */
/* #05B9E4 */
/* #41a4dd */
/* #EDA300 */
/* #ffc145 */
/* #9DC0BC */
/* #00bd9d */
/* #1B998B */
/* #B8B8D1 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* L O G O T I P O - - - */

#logo {
  width: 360px;
  margin: 0 0 0 15vw;
  padding: 3px 0 3px 0;
}

#barra-busqueda {
  font-weight: 600;
  color: silver;
  font-style: italic;
  float: right;
  margin-top: 6vh;
  margin-right: 15vw;
  margin-bottom: 1vh;
  width: fit-content;
}

#buscar {
  font-style: italic;
  color: silver;
  border-radius: 4.5px;
  border-color: silver;
  border-style: solid;
  border-width: 1.5px;
}

/* N A V - - - */

nav,
#nav-bar,
#nav-menu,
#nav-button,
.nav-main {
  display: flex;
}

nav {
  background-color: #db008d;
  width: 100%;
  height: 45px;
  position: sticky;
  top: 0;
}

#nav-bar {
  justify-content: space-between;
  padding: 0 15vw;
}

#nav-menu {
  width: 360px;
  justify-content: space-between;
}

.nav-main {
  border: transparent solid 0.3em;
  color: white;
  font-weight: 540;
  margin: 12px 0;
  align-items: center;
  text-decoration: none;
}

#nav-menu a:hover {
  background-color: #9d0066;
  border: #9d0066 solid 0.3em;
  border-radius: 3px;
}

#nav-button {
  margin: 6px 0;
  width: 20vw;
}

.boton {
  background-color: #05b9e4;
  border: 0px;
  border-radius: 9px;
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: 16px;
  /* sombras en texto y boton */
  text-shadow: 1px 1px 1px #19567a;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px #19567a;
}

/* Accion boton */

.boton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}



/* M A I N - - - */

main {
  /* background-color: yellow; */
  padding: 30px 15vw 0 15vw;
  width: 100%;
  display: flex;
}

/* A R T I C U L O S - - - */

h2 {
  margin: 0px 0 6px 0;
  color: #05b9e4;
  clear: left;
}

main section {
  width: 45vw;
}

article img {
  width: 360px;
  float: left;
  padding: 0px 18px 0px 0px;
  border-radius: 0 27px 0 0px;
  /* object-fit: cover; */
}

article div {
  text-align: justify;
  font-size: 0.86em;
  line-height: 1.8em;
  margin-top: 0;
}

.Area-Boton {
  padding: 9px 0 60px 0;
  clear: both;
}

main button {
  background-color: #41a4dd;
  border: #41a4dd;
  color: white;
  padding: 3px 27px;
  border-radius: 0 0 0 9px;
  font-weight: 540;
  font-size: 1em;
}

main button:hover {
  background-color: #eda300;
}

/* A S I D E - - - */

aside {
  /* border: #9d0066 solid 1px; */
  width: 20vw;
  margin-left: 5vw;
  line-height: 3em;
}

.aside-content {
  clear: both;
  float: right;
  padding-right: 4vw;
}

ul {
  color: #05b9e4;
  list-style: none;
}

.Aside-link {
  color: #05b9e4;
  font-weight: 600;
  text-decoration: none;
}

aside a:hover {
  background-color: #db008d;
  color: white;
  font-weight: 600;
  outline: #db008d solid 9px;
  border-radius: 0.25px;
}

/* F O O T E R */

footer {
  background-color: #db008d;
  color: white;
}

#Ft-aboutus {
  margin: 0 0 0 15vw;
  flex-direction: row;
}

#Ft-article {
  width: 360px;
  padding: 30px 18px 30px 0;
  float: left;
}

#Ft-article p {
  padding-top: 27px;
  text-align: justify;
  font-size: 12px;
  line-height: 27px;
}

#Ft-navbox {
  float: right;
  width: 40vw;
  padding: 30px 15vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#Ft-navbox p {
  color: white;
  font-size: 18px;
  font-weight: 666;
}

.Ft-barnav {
  padding: 30px 0 0 0;
  display: flex;
  width: 25vw;
  justify-content: space-between;
}

.Ft-barnav a {
  color: white;
  text-decoration: none;
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
}

.Ft-barnav a:hover {
  background-color: #05b9e4;
  padding: 3px;
  border-radius: 3px;
  text-decoration: underline 2.7px;
}

/*  P I E   D E   P A G I N A  */

#Ft-legal {
  clear: both;
  background-color: #9d0066;
  color: #2a001c;
  padding: 9px 0;
  font-weight: 600;
  text-align: center;
}