/* Paleta de colores - - - */
/* #B00573 */
/* #c72d82 */
/* #DB008D */
/* #05B9E4 */
/* #41a4dd */
/* #EDA300 */
/* #ffc145 */
/* #9DC0BC */
/* #00bd9d */
/* #1B998B */
/* #B8B8D1 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* L O G O T I P O - - - */

#logo {
    width: 360px;
    margin: 0 0 0 13.5%;
    padding: 9px 0 6px 0;
}

/* N A V - - - */

nav,
#nav-bar,
#nav-menu,
#nav-button {
    display: flex;
}

nav {
    background-color: #DB008D;
    width: 101vw;
    padding: 9px 13.5vw 9px 13.5vw;
    position: sticky;
    top: 0;
}

#nav-menu {
    width: 360px;
    justify-content: space-between;
}

#nav-menu a,
#nav-button button {
    /* background-color: blue; */
    color: white;
    border: transparent solid .6em;
    text-decoration: none;
    font-size: 90%;
    font-weight: 540;
}

#nav-menu a:hover {
    background-color: #9d0066;
    border: #9d0066 solid .6em;
    border-radius: 3px;
}

#nav-button {
    /* background-color: blue; */
    width: 67.5%;
    justify-content: end;
}

#nav-button button {
    background-color: #4392f1;
    border: 0px;
    border-radius: 9px;
    padding: 0 1.8%;
}

/* M A I N - - - */

main {
    padding: 18px 0 0 13.5%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

/* A R T I C U L O S - - - */

h2 {
    margin: 18px 0 6px 0;
    color: #05B9E4;
    clear: left;
}

main section {
    width: 63%;
}

article img {
    width: 333px;
    float: left;
    margin: 0px 18px 0px 0px;
    border-radius: 0 27px 0 0px;
    /* object-fit: cover; */
}

article div {
    text-align: justify;
    font-size: .86em;
    line-height: 1.8em;
    margin-top: 0;
}

.Area-Boton {
    padding: .9% 0 2.7% 0;
    clear: both;
}

main button {
    background-color: #41a4dd;
    border: #41a4dd;
    color: white;
    padding: 3px 27px;
    border-radius: 0 0 0 9px;
    font-weight: 540;
    font-size: 1em;
}

main button:hover {
    background-color: #EDA300;
}

/* A S I D E - - - */

aside {
    padding-left: 3em;
    line-height: 1.8em;
}

aside ul,
a {
    color: #05B9E4;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
}

aside a:hover {
    background-color: #DB008D;
    color: white;
    outline: #DB008D solid 3px;
    border-radius: .25px;
}

/* F O O T E R */

footer {
    background-color: #DB008D;
    color: white;
    margin-top: 3em;
    width: 100%;
    display: flex;
    display: inline-block;
}

#aboutUs {
    /* background-color: cadetblue; */
    padding: 3% 0 3% 12%;
    display: flex;
    align-items: baseline
}

#aboutUs h3 {
    font-size: 1.5em;
    margin-bottom: 1.5vh;
}

footer article {
    width: 88vw;
    width: 26.355vw;
    text-align: justify;
    font-size: .8em;
    line-height: 1.5em;
}

#navFooter {
    /* background-color: black; */
    width: 30%;
    float: right;
    margin: 0 3vw 0 28.5vw;
    display: flex;
    display: inline;
}


#navFooter h3 {
    text-align: right;
    font-size: 1.25em;
    margin-bottom: 1.5vh;
    border-right: #DB008D solid 6px;
}

.nav-a {
    display: flex;
    justify-content: space-between;
}

#navFooter a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    border: #DB008D solid 6px;
}

#navFooter a:hover {
    background-color: #41a4dd;
    width: min-content;
    border: #41a4dd solid 6px;
    border-radius: 6px;
}


/*  P I E   D E   P A G I N A  */

footer #Legal-Print {
    background-color: #B00573;
    padding: 1.8% 0;
    font-size: small;
    font-weight: 600;
    text-align: center;
}