/* Paleta de colores - - - */
/* #B00573 */
/* #c72d82 */
/* #DB008D */
/* #05B9E4 */
/* #41a4dd */
/* #EDA300 */
/* #ffc145 */
/* #9DC0BC */
/* #00bd9d */
/* #1B998B */
/* #B8B8D1 */


* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    /* font-family: Helvetica, sans-serif; */
}


/* L O G O T I P O - - - */
#logo {
    width: 360px;
    margin: 0 0 0 12%;
    padding: 1% 0 3% 0;
}

/* N A V - - - */
nav {
    background-color: #DB008D;
    display: flex;
    position: sticky;
    top: 0;
    padding: 1em 0 1em 12%;
    /* justify-content: space-between; */
}

#nav-contenedor {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    border: transparent solid .2em;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    background-color: #4392f1;
    border: #4392f1 solid .2em;
    border-radius: 3px;
    box-sizing: content-box;
}

/* M A I N - - - */

main {
    padding-left: 12%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

/* A R T I C U L O S - - - */

h2 {
    margin: 1.3em 0 .5em 0;
    color: #05B9E4;
    clear: left;
}

main section {
    width: 63%;
}

article img {
    width: 333px;
    float: left;
    margin: 0px 18px 0px 0px;
    border-radius: 0 27px 0 0px;
    /* object-fit: cover; */
}

article div {
    text-align: justify;
    font-size: .86em;
    line-height: 1.8em;
    margin-top: 0;
}

main button {
    background-color: #41a4dd;
    border: #41a4dd;
    margin-top: .75em;
    padding: 3px 27px;
    border-radius: 0 0 0 9px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

main button:hover {
    background-color: #EDA300;
}

/* A S I D E - - - */

aside {
    padding-left: 3em;
    line-height: 1.8em;
}

aside ul,
a {
    color: #05B9E4;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
}

aside a:hover {
    background-color: #DB008D;
    color: white;
    outline: #DB008D solid 3px;
    border-radius: .25px;
}

/* F O O T E R */

footer {
    background-color: #DB008D;
    color: white;
    margin-top: 3em;
    width: 100%;
    display: flex;
    display: inline-block;
}

#aboutUs {
    /* background-color: cadetblue; */
    padding: 3% 0 3% 12%;
    display: flex;
    align-items: baseline
}

#aboutUs h3 {
    font-size: 1.5em;
    margin-bottom: 1.5vh;
}

footer article {
    width: 88vw;
    width: 26.355vw;
    text-align: justify;
    font-size: .8em;
    line-height: 1.5em;
}

#navFooter {
    /* background-color: black; */
    width: 30%;
    float: right;
    margin: 0 3vw 0 28.5vw;
    display: flex;
    display: inline;
}


#navFooter h3 {
    text-align: right;
    font-size: 1.25em;
    margin-bottom: 1.5vh;
    border-right: #DB008D solid 6px;
}

.nav-a {
    display: flex;
    justify-content: space-between;
}

#navFooter a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    border: #DB008D solid 6px;
}

#navFooter a:hover {
    background-color: #41a4dd;
    width: min-content;
    border: #41a4dd solid 6px;
    border-radius: 6px;
}


/*  P I E   D E   P A G I N A  */

footer #Legal-Print {
    background-color: #B00573;
    padding: 1.8% 0;
    font-size: small;
    font-weight: 600;
    text-align: center;
}