/* Paleta de colores */
/* #B00573 */
/* #c72d82 */
/* #DB008D */
/* #05B9E4 */
/* #41a4dd */
/* #EDA300 */
/* #9DC0BC */
/* #00bd9d */
/* #1B998B */
/* #ffc145 */
/* #B8B8D1 */


* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    /* font-family: Helvetica, sans-serif; */
}

/* L O G O T I P O */

#logo {
    width: 360px;
    margin: 0 0 0 12%;
    padding: 1% 0 3% 0;
}

/* N A V */

nav {
    background-color: #DB008D;
    padding: 9px 0 9px 0;
    display: inline-flexbox;
    position: sticky;
    top: 0;
}

nav div {
    width: 360px;
    justify-content: space-between;
}

#nav {
    padding-left: 12%;
    justify-content: space-between;
}

nav a {
    color: white;
    font-size: .9em;
    font-weight: 600;
    text-decoration: none;
}

#nav a:hover {
    background-color: #4392f1;
    border: #4392f1;
    border-radius: 3px;
}

/* M A I N */

main {
    background-color: #;
    padding-left: 12%;
    display: flex;
}

/* A R T I C U L O S  */

h2 {
    margin-top: 1.3em;
    margin-bottom: .5em;
    color: #05B9E4;
    clear: left;
}

section {
    width: 65%;
}

article img {
    width: 360px;
    float: left;
    margin: 0px 18px 0px 0px;
    border-radius: 0 27px 0 0px;
}

article div {
    text-align: justify;
    font-size: .86em;
    line-height: 2em;
    margin-top: 0;
}

main button {
    background-color: #41a4dd;
    border: #41a4dd;
    margin-top: .75em;
    padding: 3px 27px;
    border-radius: 0 0 0 9px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

main button:hover {
    background-color: #EDA300;
}

/* A S I D E */

aside {
    padding-left: 6%;
}

.ulNav {
    list-style: none;
    text-decoration: none;
    color: #05B9E4;
    padding: 0;
    line-height: 2em;
    font-weight: 600;
}

aside a:hover {
    background-color: #DB008D;
    color: white;
    outline: #DB008D solid 3px;
    border-radius: .25px;
}

/* F O O T E R */

footer {
    margin-top: 3em;
    background-color: #DB008D;
    color: white;
    width: 100vw;
}

h3 {
    margin-bottom: .6em;
    font-size: medium;
    margin-top: 3em;
}

footer section {
    overflow: auto;
    width: 100%;
    padding: 0 0 0 0;
}

footer section div {
    padding-left: 12%;
    text-align: justify;
    width: 360px;
    float: left;
    font-size: .75em;
    line-height: 1.8em;
}

.NavFooter {
    width: 24%;
    float: right
}

.NavFooter h3 {
    text-align: right;
}

footer article div {
    float: right;
    text-align: right;
}

.NavFooter a {
    color: white;
    font-size: .8em;
    text-decoration: none;
    padding: 0 0x;
}

.NavFooter a:hover {
    background-color: #41a4dd;
    width: min-content;
    border-radius: 3px;
}

#Legal-Print {
    margin-top: 3em;
    background-color: #B00573;
    text-align: center;
    padding: 1em;
    font-size: .75em;
    font-weight: 100;
}