/* <!-- CSS --> */

/* Paleta de colores */
/*-- #EDA300 - #05B9E4- #DB008D - #B00573 --*/

/* BODY */
  body {
  margin: 0px;
  font-family: sans-serif;
}
/* HEADER */
.header {
    
}
header img {
  float: left;
  width: 300px;
  border: 1px black solid;
}
/* NAV */
nav {
  background-color: #db008d;
  clear: both;
  text-align: left;
  padding: 18px 0px 18px 0px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
nav a:hover {
  border-radius: 3px;
  background-color: #f04fb8;
  padding: 1.5px;
  color: ;
}
/* MAIN */

#principal {
  overflow: auto;
  display: flex;
  padding-bottom: 60px;
  margin-bottom: 60px;
  /* outline: blue solid; */
}

#boxblank {
  float: left;
  width: 18%;
  height: 100%;
  background-color: none;
}
.seccion {
  overflow: auto;
  width: 64%;
  /* outline: blue dotted; */
}

.boxpost {
  /* outline: red dotted; */
}

/* Titulo  */
.Tituloarticulo {
  padding-top: 18px;
  margin-bottom: 3px;
  clear: both;
}

.Tituloarticulo {
  color: #05b9e4;
}

/* Imagen post */
#ImgPost {
  float: left;
  width: 270px;
  padding: 0px 18px 1px 0px;
  margin: 0px 0px 0px 0px;
}

/* Parrafo  */
main section p {
  margin-top: 0%;
  margin-right: 30px;
  text-align: justify;
  line-height: 180%;
  font-size: 13px;
}

/* Button  */
article button {
  background-color: #05b9e4;
  border-color: #05b9e4;
  padding: 3px 27px;
  margin: 0px 0px 0px 0px;
}

article button a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* ASIDE  */
#boxaside {
  float: none;
  margin: 19.92px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 19%;
  /* outline: gray dotted; */
}
aside h2 {
  margin-bottom: 0px;
  color: #05b9e4;
}
aside a {
  padding: 0px 0px 0px 0px;
  color: #05b9e4;
  text-decoration: none;
  font-size: 13.5px;
}
aside ul {
  padding: 0px 0px 0px 0px;
  list-style: none;
}
aside li {
  padding: 0px 0px 15px 0px;
}

/* FOOTER */
footer {
  overflow: auto;
  color: white;
}
#boxfooter {
  background: #db008d;
  height: 200px;
}
#footerabout {
  float: left;
  width: 50%;
}
#aboutus {
  width: 75%;
  padding-left: 3%;
}
footer p {
  margin-top: 30px;
  padding-left: 0px;
  text-align: justify;
  font-size: 12px;
  line-height: 180%;
}
#footernav {
  float: right;
  width: 50%;
}
footer a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  padding-right: 15px;
}
#legalfooter {
  background: #b00573;
  color: white;
  text-align: center;
  font-size: 12px;
  clear: both;
  padding: 9px;
}
* {
  outline: 1px solid red;
}
/* FIN CSS */
