* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {
    background-color: rgb(21, 20, 20);
    display: flex;
}

.nav a {
    color: white;
    width: 60px;
    text-decoration: none;
}

.contenedor {
    display: flex;
    flex-direction: row;
}


/* BOX - 1 */

.box-1 {
    padding: 1em;
    background-color: darkgrey;
    width: 10%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    padding: .5em 0 .75em 0;
}

h3 {
    padding: .5em 0 .5em 0;
}

h4 {
    padding: .5em 0 .5em 0;
}

.img1 {
    background-color: rgb(97, 97, 97);
    color: darkgrey;
    padding: .5em 0 0 .5em;
    height: 27vh;
    width: 100%;
    justify-content: center;
}

p {
    padding: .5em 0 .5em 0;
}

.img {
    background-color: rgb(97, 97, 97);
    color: darkgrey;
    padding: .5em 0 0 .5em;

    height: 4.5vh;
    margin: .75em 0 .75em 0;
}


/* BOX - 2 */
.box-2 {
    padding: 1em;
    background-color: darkgrey;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}