* {
    padding: 0;
    margin: 0;
    /* font-family: sans-serif; */
}

.nav {
    background-color: black;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 27px;
}

.nav a:hover {
    /* el puntero cambia a apuntador */
    cursor: crosshair;
    color: tomato;
}

.contenedor {
    display: flex;
    flex-direction: row;
}

.izquierda {
    width: 27%;
}

.padding-gral {
    padding: 18px;
}

/* Ahora para about me */

.margin-bottom-gral {
    margin-bottom: 20px;
}

.img-tipo1 {
    background-color: gray;
    height: 180px;
}

.img-tipo2 {
    background-color: gray;
    height: 30px;
}

/* hacer que todas la cajas con el texto imagen tengan una separacion del borde en el; selector se agrega una referencia especifica para que solo atienda a los hijos de div que sean p */
div>p {
    padding: 9px 0 0 9px;
}

/* MEDIA QUERIES */
/* PUNTO DE QUIEBRE BUSCAR LOS STANDARDS */

/*  Laptop tablet */

@media screen and (max-width:1100px) {

    /* izquierda */
    .izquierda {
        width: 50%;
    }

    /* derecha */
    .derecha {
        width: 50%;
    }

}

/* mini tablet */

@media screen and (max-width:768px) {

    /* izquierda */
    .izquierda {
        width: 50%;
        background-color: gold;
    }

    /* derecha */
    .derecha {
        width: 50%;
    }

}

/* mobile */
@media screen and (max-width:390px) {


    /* izquierda */
    .izquierda {
        width: 50%;
        background-color: royalblue;
    }

    /* derecha */
    .derecha {
        width: 50%;
    }

}