<!-- CSS -->
<!-- /*-- #EDA300 - #05B9E4- #DB008D - #B00573 --*/ -->
<style>
/* BODY */
  body {
      margin: 0px;
      font-family: Arial, Helvetica, sans-serif;
  }
  /* HEADER */
  header img {
    width: 300px;
    margin: 0%;
  }
  header figure {
      margin: 0;
  }
  /* NAV */
  nav {
    background-color: #db008d;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    background-color: #b00573;
    color: gray;
  }
  /* MAIN */
  article img {
    width: 300px;
  }
  main h2 {
    color: #05b9e4;
  }
  article button {
    background-color: #05b9e4;
    border-color: #05b9e4;
    padding: 3px 27px;
  }
  article button a {
    color: white;
    font-weight: bold;
  }
  aside a {
    color: #05b9e4;
    text-decoration: none;
  }
  aside ul {
    padding: 9px;
    list-style: none;
  }
  /* FOOTER */
  footer {
    color: white;
  }
  footer > section {
    background: #db008d;
  }
  footer a {
    color: white;
  }
  footer > div {
    background: #b00573;
    color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
  }
  /* FIN CSS */
</style>