nav,div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
}
main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategray;
}
section {
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategray;
}